---
title: Attribution - The Web Is...
description: Photo and video attribution for The Web Is...
---

= partial "partials/internal-header"
.content

  %section.internal
    .wrap
      %h1 Attribution
      %p
        Web development by the insanely talented
        = succeed "." do
          %a{href: "http://hop.ie/about/"} Donovan Hutchinson

      %p
        The embedded Mac OS emulator is the work of
        = succeed "." do
          %a{href: "http://jamesfriend.com.au/pce-js/"} James Friend

      %p 
        Photograph of Ethan Marcotte by 
        = succeed "." do
          %a{href: "http://marcthiele.com"} Marc Thiele 

      %p 
        Photograph of Seb Lee-Delisle by 
        = succeed "." do
          %a{href: "http://www.flickr.com/people/stn1978/"} Stefan Nitzsche

  = partial "partials/footer"
