%section.moreinfo
  .mac
  .centered
    .sponsors
      %h2
        Sponsors
      %a{href: "https://getinvited.to/"}
        = image_tag("sponsors/get_invited.png")
      %a{href: "https://squarespace.com/"}
        = image_tag("sponsors/squarespace.png")
      %a{href: "http://www.webat25.org/"}
        = image_tag("sponsors/web25.png")
      %a{href: "https://shopify.com/"}
        = image_tag("sponsors/shopify.png")
      %a{href: "https://gridsetapp.com/"}
        = image_tag("sponsors/gridset.png")
      %a{href: "http://www.workingatbooking.com/"}
        = image_tag("sponsors/booking.png")
      %a{href: "http://www.sequence.co.uk/"}
        = image_tag("sponsors/sequence.png")
      %a{href: "http://www.blushpublishing.co.uk/"}
        = image_tag("sponsors/blush.png")
      %a{href: "http://www.siteground.com"}
        = image_tag("sponsors/siteground.png")
      %a{href: "http://wales.gov.uk/?lang=en"}
        = image_tag("sponsors/welsh_gov.png")
      %a{href: "http://intapeople.com"}
        = image_tag("sponsors/intapeople.png")
      %a{href: "http://campaignmonitor.com"}
        = image_tag("sponsors/campaign_monitor.png")
      %a{href: "https://udl.co.uk"}
        = image_tag("sponsors/udl.png")
      %a{href: "https://www.cardiff.gov.uk/ENG/Pages/default.aspx"}
        = image_tag("sponsors/council.png")
      %a{href: "http://www.cardiffbusinesscouncil.com"}
        = image_tag("sponsors/cardiff_business_council.png")
      %a{href: "http://fivesimplesteps.com"}
        = image_tag("sponsors/5ss.png")
    
    %br
    %br
    %p
      %a.twink{href: "http://twitter.com/thewebis_"} @thewebis_ on Twitter
    %nav.footer
      %ul.secondary
       
        %li
          %a{href: "/rules/"} Rules of play
        %li
          %a{href: "/attribution/"}  Attributions
        %li
          %a{href: "/teaser/"} Teaser
      %ul.secondary.copyright
        %ul
          %li <a href="http://besquare.me">A <strong>BESQUARE</strong> EVENT </a>