---
title: Side Events - The Web Is...
description: Photo and video attribution for The Web Is...
---

= partial "partials/internal-header"
.content

  %section.internal
    .wrap
      %h1 Side Events

      %h2 Pre-conference dinner and natter
      %h3 Wednesday 29th from 6pm
      %p 
        Drinks and food at the 
        = succeed "." do
          %a{href: "http://www.urbantaphouse.co.uk"} Urban Taphouse 
        Lots of great craft beers and fantastic burgers.

      %h2 Pre-conference games and chat
      %h3 Wednesday 29th from 6pm
      %p 
        Board games, console games and a place to chat and hang-out at 
        = succeed "." do
          %a{href: "http://www.foundershub.co.uk"} FoundersHub

      %h2 Music makers get together
      %h3 Thursday 30th from 7pm
      %p 
        Guitars, drums and noise. Come along and plug in at 
        = succeed "." do
          %a{href: "http://www.foundershub.co.uk"} FoundersHub
        All abilities welcome. Songs to learn:
        = succeed "." do
          %a{href: "http://tabs.ultimate-guitar.com/f/foo_fighters/walk_crd.htm"} 20th Century Boy (T-Rex)
        , 
        = succeed "." do
          %a{href: "http://tabs.ultimate-guitar.com/t/t_rex/20th_century_boy_ver2_tab.htm"} Walk (Foo Fighters)
        ,
        = succeed "." do
          %a{href: "http://tabs.ultimate-guitar.com/m/meghan_trainor/all_about_that_bass_crd.htm?utm_expid=18438345-117.Xl9Y1cGLRGGq9QYsTE9P2A.0&utm_referrer=http%3A%2F%2Fwww.google.co.uk%2Furl%3Fsa%3Dt%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dweb%26cd%3D1%26ved%3D0CCMQFjAA%26url%3Dhttp%253A%252F%252Ftabs.ultimate-guitar.com%252Fm%252Fmeghan_trainor%252Fall_about_that_bass_crd.htm%26ei%3DgjBOVJv-JsLhaI31gJgO%26usg%3DAFQjCNGI3uG3CZ4U-ukBUzW_6TeKcdFs6Q%26bvm%3Dbv.77880786%2Cd.d2s"} All About That Bass (Meghan Tainor)
        ,
        = succeed "." do
          %a{href: "http://tabs.ultimate-guitar.com/t/taylor_swift/love_story_crd.htm?utm_expid=18438345-117.Xl9Y1cGLRGGq9QYsTE9P2A.0&utm_referrer=http%3A%2F%2Fwww.google.co.uk%2Furl%3Fsa%3Dt%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dweb%26cd%3D1%26ved%3D0CCMQFjAA%26url%3Dhttp%253A%252F%252Ftabs.ultimate-guitar.com%252Ft%252Ftaylor_swift%252Flove_story_crd.htm%26ei%3DyjBOVJX0E5fXap3IgogL%26usg%3DAFQjCNFOxEkQWIVtlBjirSwD2KZKoGkvTA%26bvm%3Dbv.77880786%2Cd.d2s"} Love Story (Taylor Swift)

      %h2 Live music & party
      %h3 Thursday 30th from 7:30pm
      %p 
        Party time! Live music and drinks offers at 
        = succeed "." do
          %a{href: "http://www.thelivelounge.com"} the Live Lounge

      %h2 Creative Mornings
      %h3 Friday 31st 8:30am
      %p Early risers can join us to hear the fantastic David Hieatt for the Creative Mornings slot at the main venue.

      %h2 Soapbox talks
      %h3 Thursday & Friday lunchtimes
      %p Listen to industry talks over lunch in the main foyer at the venue.


      %h2 Jumpers for goalposts
      %h3 Saturday morning 11am
      %p Join us for a kickabout at Bute Park - a great way to shake off those cobwebs.

      %h2 Cycling
      %h3 Saturday morning 11am
      %p Meet us outside the Castle gates for a leisurely 50km ride around some of the great Cardiff sites.

      %h2 Park Run
      %h3 Saturday morning 9am
      %p
        You know what a park run is, right? Details here:
        = succeed "." do
          %a{href: "http://www.parkrun.org.uk/cardiff/"} Park Run


  = partial "partials/footer"
